.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.gap-24 {
  gap: 24px;
}

.subtitle {
  font: var(--subtitle);
}

.text-lg {
  font: var(--h1);
  color: var(--color-gray600);
}

.text-sm {
  font: var(--text-sm);
  color: var(--color-gray400);
  max-width: 680px;
}

.text-md {
  font: var(--text-md);
}

.title-sm {
  font: var(--h3);
}

.title-md {
  font: var(--h2);
}

.color-gray600 {
  color: var(--color-gray600);
}

.color-gray500 {
  color: var(--color-gray500);
}

.red {
  color: var(--color-red);
}

.purple {
  color: var(--color-purple);
}
